.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Custom CSS for TodoItem */
.todo-item-container {
  max-width: 80vw;
  margin: 10px auto;
  padding: 15px;
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}
.enter-todo{
 width: 1000px;
}

.todo-item-container:hover {
  transform: scale(1.02);
}

.todo-description {
  flex: 1;
  font-size: 18px;
  font-weight: bold;
  color: #495057;
}

.todo-actions {
  display: flex;
  gap: 10px;
}

.todo-actions button {
  font-size: 14px;
  font-weight: bold;
}

.todo-actions button.primary {
  background-color: #007bff;
  color: #fff;
}

.todo-actions button.danger {
  background-color: #dc3545;
  color: #fff;
}

.centerds{
  text-align: center;
}